@import "./scss_files/_reset";
@import "./scss_files/_variables";
@import "./scss_files/_app_gen_style";
@import "./scss_files/_training-form";
@import "./scss_files/trainings";


body * {
    transition: all 0.2s;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}



// buttons styles
.btn {
    border: 0;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;

    @media (max-width: 500px) {
        // width: 100%;
        text-align: center;
    }

    &.edit {
        color: #fff;
        border: 1px solid rgb(255, 255, 255);
        margin-top: 30px;

        &.blue {
            background-color: transparent;
            padding: 5px 30px;
            margin: 30px 20px 10px 20px;
            color: #2895DE;
            border: 1px solid #2895DE;

            @media (max-width: 500px) {
                margin: 20px 0 0 0 ;
            }

            &:hover {
                letter-spacing: 0;
                background-color: #2895DE;
                color: #fff;

            }

        }

        &.red {
            background-color: transparent;
            padding: 5px 30px;
            margin: 30px 0px 10px 0px;
            color: #F53F5E;
            border: 1px solid #F53F5E;
            @media (max-width: 500px) {
                margin: 20px 0 0 0 ;
            }

            &:hover {
                letter-spacing: 0;
                background-color: #F53F5E;
                color: #fff;
            }
        }
    }

    &.submit {
        background-color: $main-color;
        color: #fff;

        &:disabled {
            background-color: rgb(224, 224, 224);
            color: rgb(163, 163, 163);
            cursor: not-allowed;

            &:hover {
                letter-spacing: 0;
            }
        }
    }

    &:hover {
        background-color: #fff;
        color:#2895DE;
    }
}