 <header class="app-header">
            <div class="logo-container">
                 {{#link-to 'trainings'}}
                <img src="assets/trainoapp_logo.svg" alt="Traino logo">
                {{/link-to}}
            </div>
            <div class="buttons-container">
                
                {{#link-to 'add-training' class="btn-header"}}
                    <img src="assets/ic_add_circle_24px.svg" alt="button">
                    <span>Add new</span>
                {{/link-to}}
                {{#link-to 'add-training' class="btn-header"}}
                    <img src="assets/delete.svg" alt="button">
                    <span>Delete All</span>
                 {{/link-to}}
            </div>
        </header>

        <div class="container-app">
            <h2>Trainings</h2>
        </div>

